
body {
  background-color: #292929;
}
   
.container {
	position: absolute;
	display:  flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap:  30px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	align-items: center;
}

.gifbox {
	margin:  auto;
	vertical-align: middle;
	top: -1000px;
}

.gifbox img {
	min-width:  35vw;
	max-width:  35vw;
	min-height:  75%;
	max-height:  75%;
	vertical-align: middle;
}

.diffusecontainer {
	position: absolute;
	display:  flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap:  30px;
/*	height: 636px;*/
	height:  100%;
	margin: auto;
	overflow: hidden;
	align-items: center;
}

.diffusebox {
	margin:  auto;
	vertical-align: middle;
	top: -1000px;
}

.diffusebox img {
/*	min-width:  100vw;
	max-width:  100vw;*/
	height: 636px;
	width:  998px;
/*	min-height: 75%;*/
/*	max-height: 100%;/**/
*/	vertical-align: middle;
}